/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_lighthouse_ide_helper.php
programmatic-types.graphql
schema-directives.graphql
/_vendor
_composer.lock
.DS_Store
.idea/*